%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading-1 {
  @extend %heading; //會複製%heading
  font-size: 4.5rem;
  color: $color-grey-light-1;
  line-height: 1;
}
.heading-2 {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
  &--lignt {
    color: $color-grey-light-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}
.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: $color-primary;
  // align-self: end;
}
.heading-4 {
  @extend %heading;
  font-size: 1.9rem;
  &--lignt {
    color: $color-grey-light-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}

.mb-small {
  margin-bottom: 2rem;
}
.mb-medium {
  margin-bottom: 3rem;
}
.mb-large {
  margin-bottom: 4rem;
}
.mb-hurge {
  margin-bottom: 8rem;
}
